.welcome{
    font-size:30px;
    color:antiquewhite;
    text-align:center;
    margin-bottom:17px


}

header {
    background-color:indianred;

}
body {
    background-color:bisque;

}

.subtitle {
    text-align:center;
    padding-bottom:12px;

}

.goodplaceImg {
    padding-bottom:4;   


}

#dragonprinceImg {
    padding-left:17;

}